:host {
    display: grid;
}

nav div {
    display: flex;
    justify-content: space-between;
    background-color: var(--p800);
}

nav p{
    margin-bottom: 0px;
    padding: 15px;
    color: var(--p100);
    font-size: 25px;
    font-weight: 300px;
    cursor: pointer;
}

nav ul {
    background-color: var(--p400);
    list-style: none;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200px;
    color: black;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--p800);
    color: var(--p100);
}


nav li.active-link a{
    background-color: var(--p600);
    color: var(--p100);
}

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }
}