<p class="bread-cramb page_name" *ngIf="ItemComponent">Active Items</p>

<div class="itemsList">
    <div *ngIf="listItems.length == 0" class="no-items-message">
        You do not have uncompleted todo items
    </div>

    <div class="view_list_grid" *ngIf="!ItemComponent">
        
        <div class="check_all">
            <mat-icon (click)="checkAll()">check_box_outline_blank</mat-icon>
            <span>Check All</span>
        </div> 
        <div class="sort">
            <mat-icon (click)="onSortItems()">sort</mat-icon>
            <span>Sort Items</span>
        </div>
        
    </div>

    <div *ngIf="listItems.length > 0 && !sortList" class="items">
        <ul *ngFor="let item of listItems" >
            <li *ngIf="!item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check_box_outline_blank</mat-icon>
                </div>
                
                <p class="caption not-completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <li *ngIf="item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check</mat-icon>
                </div>
            
                <p class="caption completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>
            
            <p *ngIf="ItemComponent" class="item_in_list">List Name: <span [ngStyle]="{'color': item.listColor}">{{item.listCaption}}</span></p>
        </ul>
    </div>

    <div *ngIf="sortList" class="items">
        <ul *ngFor="let item of sortedList">
            <li *ngIf="!item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check_box_outline_blank</mat-icon>
                </div>
                
                <p class="caption not-completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <li *ngIf="item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check</mat-icon>
                </div>
            
                <p class="caption completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <p *ngIf="ItemComponent" class="item_in_list">List Name: <span [ngStyle]="{'color': item.listColor}">{{item.listCaption}}</span></p>
        </ul>
    </div>

    <div *ngIf="ListItems$ !== undefined" class="items">
        <form class="button_form" [formGroup]="addItem" (ngSubmit)="onSubmit()">
            <div>
                <mat-icon>check_box_outline_blank</mat-icon>
            </div>
            <div class="button_fields">
                <input type="text" formControlName="newItem" class="item_input">
                
                <ng-container *ngIf="addItem.get('newItem') as ctrl">
                    <ng-container *ngIf="ctrl.errors as errors">
                        <div *ngIf="ctrl.touched" class="errors">
                            <span *ngIf="errors.minLength as err">Letters: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.maxLength as err">Letters: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.minWords as err">Words: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.maxWords as err">Words: {{err.actualLength}}/{{err.requiredLength}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <button type="submit" [disabled]="!addItem.valid" class="item_button"> + </button>
        </form>
    </div>
</div>
