.items {
    color: red;
}

.itemsList {
    padding: 20px;
    color: var(--p700);
}

.no-items-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: red;
    height: 100px;
    background-color: var(--p50);
    border-radius: 3px;
    font-size: 25px;
    border: 1px solid var(--p100);
}

ul {
    display: flex;
    flex-direction: row;
}

.item_in_list {
    margin-left: 20px;
    font-size: 20px;
    opacity: 0.5;
}

li {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;
}

.caption {
    font-size: 20px;
    padding: 3px;
    margin-bottom: 0px;
}

.completed {
    display: flex;
    opacity: 0.5;
    width: 40%;
    text-decoration: line-through;
    -webkit-text-decoration-color: red; /* Safari */  
    text-decoration-color: red;
}

mat-icon {
    margin-right: 5px;
}

.form {
    display: flex;
}

.form mat-icon {
    padding-top: 2px;
}

input {
    height: 29px;
    font-size: 18px;
    border: 1px solid var(--p600);
    border-radius: 4px;
    padding-left: 6px;
}

button {
    margin-left: 7px;
    width: 30px;
    height: 28px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--p400);
    border-radius: 4px;
    cursor: pointer;
}

