<p class="bread-cramb items">Active Items</p>

<div class="itemsList">
    <div *ngIf="listItems.length == 0" class="no-items-message">
        You do not have uncompleted todo items
    </div>

    <div class="view_list_grid" *ngIf="ItemComponent">
        <span>Sort Items</span>
        <button (click)="onSortItems()"><mat-icon class="view_list">sort</mat-icon></button>
        <!-- <span>Grid</span>
        <mat-icon class="view_module">view_module</mat-icon> -->
    </div>

    <div *ngIf="listItems.length > 0 && !sortList">
        <ul *ngFor="let item of listItems" >
            <li *ngIf="!item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check_box_outline_blank</mat-icon>
                </div>
                
                <p class="caption not-completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <li *ngIf="item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check</mat-icon>
                </div>
            
                <p class="caption completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>
            
            <p *ngIf="ItemComponent" class="item_in_list">test</p>
        </ul>
    </div>

    <div *ngIf="sortList">
        <ul *ngFor="let item of sortedList">
            <li *ngIf="!item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check_box_outline_blank</mat-icon>
                </div>
                
                <p class="caption not-completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <li *ngIf="item.isCompleted">
                <div>
                    <mat-icon (click)="onTurnCompleted(item._id)">check</mat-icon>
                </div>
            
                <p class="caption completed">{{item.caption | upperCaseFirstLetter}}</p>
            </li>

            <p *ngIf="ItemComponent" class="item_in_list">test</p>
        </ul>
    </div>

    <div *ngIf="ListItems$ !== undefined">
        <form class="form" [formGroup]="addItem" (ngSubmit)="onSubmit()">
            <div>
                <mat-icon>check_box_outline_blank</mat-icon>
            </div>
            <div class="fields" >
                <input type="text" formControlName="newItem">
                <button type="submit" [disabled]="!addItem.valid"> + </button>
                <ng-container *ngIf="addItem.get('newItem') as ctrl">
                    <ng-container *ngIf="ctrl.errors as errors">
                        <div *ngIf="ctrl.touched" class="errors">
                            <span *ngIf="errors.minLength as err">Letters: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.maxLength as err">Letters: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.minWords as err">Words: {{err.actualLength}}/{{err.requiredLength}}</span>
                            <span *ngIf="errors.maxWords as err">Words: {{err.actualLength}}/{{err.requiredLength}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </form>
    </div>
</div>
