:host {
    display: grid;
    grid-template-rows: auto;
}

.first-strip {
    justify-content: center;
    padding: 40px;
    /* justify-content: center; */
    background-color: var(--p900);
    color: var(--p100);
}

.welcome{
    flex-direction: row;
}

.welcome :first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.welcome :nth-child(2) {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

button {
    border: 1px solid darkgray;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--g800);
    color: var(--p50);
}

button:hover {
    border: 1px solid darkgray;
    border-radius: 30px;
    background-color: var(--g400);
    color: black;
    cursor: pointer;
}

.second-strip {
    /* display: flex; */
    justify-content: center;
    padding: 40px;
    background-color: var(--p50);
}

.second-strip mat-icon {
    margin: 10px;
    /* justify-content: space-between; */
}

.icons {
    justify-content: center;
}

.icon {
    flex-direction: column;
}

.mat-icon {
    font-size: 40px;
    color: var(--p500);
}