.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100%;
    width: 320px;
}

.editForm {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    border-radius: 5px;
    background-color: var(--p50);
}

.form {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.fieldGroup {
    width: 100%;
}

form p {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: var(--p900);
}

.fields {
    display: flex;
    flex-direction: column;
    margin: 10px;;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input,select {
    font-size: 17px;
    font-weight: 200;
    height: 30px;
    border: 1px solid var(--p200);
    border-radius: 4px;
    width: 100%;
}

textarea {
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--p100);
    font-size: 17px;
    font-weight: 200;
}

.save-Button {
  display: flex;
  justify-content: flex-end;
}

button {
    margin: 20px;
    padding: 8px;
    font-size: 15px;
    width: 90px;
    border-radius: 30px;
    border: 1px solid darkgray;
    background-color: var(--g800);
    color: var(--p50);
    outline:none;
}

button:hover {
    border: 1px solid darkgray;
    border-radius: 30px;
    background-color: var(--g400);
    color: black;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

