:host {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
}

.editForm {
    
    border-radius: 5px;
    height: 450px;
    max-height: 550px;
    width: 30%;
    background-color: var(--p50);
}

.container {
    box-sizing: border-box;
    overflow-wrap: inherit;
}

.form {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.fieldGroup {
    width: 100%;
}

p {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: var(--p900);
}

.fields {
    display: flex;
    flex-direction: column;
    margin: 10px;;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input,select {
    font-size: 17px;
    font-weight: 200;
    height: 30px;
    border: 1px solid var(--p200);
    border-radius: 4px;
    width: 100%;
}

textarea {
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--p100);
    font-size: 17px;
    font-weight: 200;
}

.save-Button {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

button {
    margin: 20px;
    padding: 8px;
    font-size: 15px;
    width: 90px;
    border-radius: 30px;
    border: 1px solid darkgray;
    background-color: var(--g800);
    color: var(--p50);
    outline:none;
}

button:hover {
    border: 1px solid darkgray;
    border-radius: 30px;
    background-color: var(--g400);
    color: black;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.shadowEffect
{
  position: relative;
}

.shadowEffect:before, .shadowEffect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadowEffect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}