<p class="bread-cramb">Edit List</p>

<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="editForm shadowEffect">
        <div class="form-container">
            <p>welcome to edit List</p>
            <hr>
            <div class="form">

                <div  class="fieldGroup">

                    <div class="fields">
                        <label>Caption:</label>
                        <input type="text" formControlName="caption">
                        <ng-container *ngIf="editForm.get('caption') as ctrl">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div class="errors" *ngIf="ctrl.touched">
                                    <span *ngIf="errors.required">Required!</span>
                                    <span *ngIf="errors.maxLength">Caption to long!</span>
                                    <span *ngIf="errors.captionAvailable">Caption not available!</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div  class="fields">
                        <label>Discription:</label>
                        <textarea formControlName="description"></textarea>
                        <ng-container *ngIf="editForm.get('description') as ctrl">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div class="errors" *ngIf="ctrl.touched">
                                    <span *ngIf="errors.required">Required!</span>
                                    <span *ngIf="errors.maxLength as err">Letters: {{err.actualLength}}/{{err.requiredLength}}</span>
                                    <span *ngIf="errors.minWords as err">Words: {{err.actualLength}}/{{err.requiredLength}}</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div class="fields">
                        <label>Icon:</label>
                        <select formControlName="icon">
                            <ng-container>
                                <option value="" disabled selected hidden>Select icon</option>
                                <option *ngFor="let icon of icons" [value]="icon">{{icon}}</option>
                            </ng-container>
                        </select>
                        <ng-container *ngIf="editForm.get('caption') as ctrl">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div class="errors" *ngIf="ctrl.touched">
                                    <span *ngIf="errors.required">Required!</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div class="fields">
                        <label>Color:</label>
                        <select formControlName="color">
                            <ng-container>
                                <option value="" disabled selected hidden>Select color</option>
                                <option *ngFor="let color of colors" [value]="color" [ngStyle]="{'color': color}">{{color}}</option>
                            </ng-container>
                        </select>
                        <ng-container *ngIf="editForm.get('caption') as ctrl">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div class="errors" *ngIf="ctrl.touched">
                                    <span *ngIf="errors.required">Required!</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>
            </div>
            <div class="save-Button">
                <button type="submit" [disabled] = "!editForm.valid">Save</button>
            </div>
        </div> 
    </form>
</div>

<!-- <pre>value: {{editForm.value | json}}</pre> -->
<!-- <pre>errors: {{editForm.get('caption').errors | json}}</pre> -->


  



